@import "../vendor/cleanslate.css";

$mobile-bp: 432px;
$tablet-bp: 576px;

#wtm_cookie_bar {
  position: sticky !important;
  top: 0 !important;
  display: block !important;
  box-sizing: border-box !important;
  padding: 15px !important;
  margin: 0 !important;
  width: 100% !important;
  max-height: 100vh !important;
  overflow-y: auto !important;
  font-family: sans-serif !important;
  background-color: #fff !important;
  border-bottom: 1px solid #eee !important;
  z-index: 1 !important;

  .hidden,
  &.hidden {
    display: none !important;
  }

  .inner {
    max-width: 640px !important;
    margin: 0 auto !important;

    h4 {
      margin: 0 0 3px 0 !important;
      font-size: 14px !important;
    }

    p {
      margin: 0 0 6px 0 !important;
      font-size: 14px !important;
      line-height: 1.2 !important;
    }

    .action-container {
      display: block !important;
      margin-top: 12px !important;

      .manage-link,
      .detail-link {
        margin-right: 12px !important;

        a,
        label {
          font-weight: normal !important;
          font-size: 12px !important;
          text-decoration: none !important;
          color: darkblue !important;
          user-select: none !important;
          cursor: pointer !important;
        }
      }

      .detail-link label[for="declaration-checkbox"] span:before {
        content: attr(data-label-show) " " !important;
        cursor: pointer !important;
      }
    }

    .button {
      display: inline-block !important;
      align-items: center !important;
      padding: 8px 24px !important;
      font-size: 16px !important;
      color: white !important;
      white-space: nowrap !important;
      background: none !important;
      border: none !important;
      text-decoration: none !important;
      border-radius: 3px !important;
      background-color: rgb(0, 150, 0) !important;

      &:hover,
      &:focus {
        background-color: rgb(0, 175, 0) !important;
      }

      &:hover {
        text-decoration: none !important;
      }

      &:not(:last-child) {
        margin: 0 12px 0 0 !important;
      }
    }

    .form {
      display: flex !important;

      @media screen and (max-width: $tablet-bp) {
        align-items: flex-start !important;
      }

      @media screen and (max-width: $mobile-bp) {
        flex-direction: column;
        align-items: stretch !important;
      }

      &__list {
        display: flex !important;
        align-items: center !important;
        flex-wrap: wrap !important;
        flex-grow: 1 !important;
        margin: 0 10px 0 0 !important;
        padding: 5px !important;
        list-style: none !important;
        border: 1px solid #eee !important;
        border-radius: 3px !important;

        @media screen and (max-width: $mobile-bp) {
          flex-direction: column !important;
          align-content: flex-start !important;
          align-items: flex-start !important;
          margin: 0 0 10px 0 !important;
        }

        li {
          display: inline-flex !important;
          align-content: center !important;
          box-sizing: border-box !important;
          margin: 0 15px 0 0 !important;
          padding: 3px !important;

          @media screen and (max-width: $tablet-bp) {
            width: 50% !important;
          }

          @media screen and (max-width: $mobile-bp) {
            width: 100% !important;
          }

          @media screen and (max-width: $tablet-bp) {
            margin: 0 !important;
          }

          label {
            font-size: 12px !important;
            font-weight: bold !important;
            cursor: pointer !important;
          }

          input[type="checkbox"] {
            margin-right: 5px !important;
          }
        }
      }
    }
  }

  .declaration-container {
    display: none !important;
    margin: 15px 0 0 1px !important;
    background-color: rgb(245, 245, 245) !important;
    font-size: 14px !important;
    border-left: 1px solid #eee !important;
    border-right: 1px solid #eee !important;
    border-bottom: 1px solid #eee !important;
    width: 100% !important;

    label {
      display: inline-block !important;
      margin: 0 0 0 -1px !important;
      padding: 8px !important;
      background-color: rgb(245, 245, 245) !important;
      text-decoration: none !important;
      color: #000 !important;
      border: 1px solid #eee !important;
      cursor: pointer !important;

      @media screen and (max-width: $mobile-bp) {
        box-sizing: border-box !important;
        width: calc(50% + 1px) !important;
      }
    }

    input {
      display: none !important;

      &:checked + label {
        background-color: #fff !important;
        border-bottom: 1px solid #fff !important;
      }
    }

    .declaration-table {
      box-sizing: border-box !important;
      width: 100% !important;
      table-layout: fixed !important;
      background-color: #fff !important;

      tbody {
        width: 100% !important;
        display: block !important;
        overflow: auto !important;
      }

      tr {
        &:not(:first-child) {
          border-top: 1px solid #eee !important;
        }

        th,
        td {
          padding: 4px 8px !important;

          &:not(:first-child) {
            border-left: 1px solid #eee !important;
          }

          &:last-child {
            border-right: 1px solid #eee !important;
          }
        }

        th {
          font-weight: bold !important;
        }
      }
    }
  }

  #declaration-checkbox {
    position: absolute !important;
    left: -9999px !important;
    top: -9999px !important;
  }

  #declaration-checkbox:checked {
    & ~ .declaration-container {
      display: block !important;
    }

    & ~ .action-container .detail-link label[for="declaration-checkbox"] span:before {
      content: attr(data-label-hide) " " !important;
    }
  }
}
