*.swp
*.pyc
*.swo
*.python-version
*.coverage
.coverage.*

*.egg-info/

*_cache/
.cache/
.idea/
.tox/
.vscode/

build
dist

htmlcov/
docs/_build
coverage.xml
db.sqlite3

node_modules
*.log

.DS_Store
