{% load i18n %}

{% block content %}
<div id="wtm_cookie_bar" class="cleanslate hidden">
    <div class="inner">
        <div class="content-container">
            <h4>{% trans "This website uses cookies" %}</h4>
            <p>
                {% spaceless %}
                    {% blocktrans %}
                        This website uses cookies and other tracking technologies for
                        functional and analytical purposes.
                        To improve your browsing experience on our site,
                        we would also like to place tracking cookies.
                    {% endblocktrans %}

                    {% if manage_view %}
                        <a role="button" href="{% url 'wtm:manage' %}" aria-label="{% trans 'Manage settings' %}" tabindex="0">{% trans "Manage settings" %}</a>.
                    {% endif %}
                {% endspaceless %}
            </p>
        </div>

        <div class="action-container">

            {% if include_form %}
                <form class="form js-form" action="{% url 'wtm:manage' %}" method="POST">
                    {% csrf_token %}
                    <ul class="form__list">
                        {% for field in form %}
                            <li>
                                {{ field }}
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            </li>
                        {% endfor %}
                    </ul>
                    <input type="submit" class="button button--green" value="{% trans 'Save' %}" aria-label="{% trans 'Save' %}" tabindex="0" />
                </form>
            {% else %}
                <button type="button" class="button button--green js-choice" data-choice="accept" aria-label="{% trans 'Accept' %}" tabindex="0">
                    {% trans "Accept" %}
                </button>
                <button type="button" class="button button--red js-choice" data-choice="reject" aria-label="{% trans 'Reject' %}" tabindex="0">
                    {% trans "Reject" %}
                </button>
            {% endif %}

        </div>
    </div>
</div>
{% endblock content %}
