{% load i18n %}

{% regroup tags by get_tag_type_display as tag_list %}

<table>
    <thead>
        <tr>
            <th>{% trans "Name" %}</th>
            <th>{% trans "Description" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for tag_type in tag_list %}
            <tr>
                <th colspan="2">{{ tag_type.grouper }}</th>
            </tr>
            {% for tag in tag_type.list %}
                <tr>
                    <td>{{ tag.name }}</td>
                    <td>{{ tag.description }}</td>
                </tr>
            {% endfor %}
        {% endfor %}
    </tbody>
</table>
