.field.horizontal_checkbox_select_multiple .field-content .input > div {
  display: flex;
  flex-wrap: wrap;

  div {
    width: 25%;
    min-width: 280px;

    label {
      width: 100%;
    }
  }
}
