@import "~codemirror/lib/codemirror.css";

.object .codearea .field-content .input {
  .CodeMirror {
    height: auto;
    min-height: 240px;
    width: 100%;
    padding: 2em 30px;
    background-color: #fafafa;
    border-right: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
    transition: background-color 0.2s ease;
    overflow: hidden;

    &-focused {
      background-color: #f4fcfc;
      border-color: #54d0d0;
      outline: none;
    }

    * {
      font-size: 0.9rem;
      line-height: 1.4rem;
    }

    @media screen and (max-width: 799px) {
      border: 1px solid #e6e6e6;
    }
  }
}

.object.code {
  .object-layout {
    &_big-part {
      fieldset {
        width: 100% !important;
        max-width: unset !important;

        .input > div {
          display: flex;
          width: 100%;

          .panel {
            width: 200px;
            height: 100%;
            padding: 10px;
            overflow-x: scroll;
          }
        }
      }
    }
  }
}
