@import "~codemirror/lib/codemirror.css";

.w-panel.code {
  .w-field--codearea {
    .w-field__input {
      & > div {
        display: flex;
        width: 100%;
        height: 280px;

        ul.panel {
          width: 200px;
          height: 100%;
          padding: 10px;
          overflow-x: hidden;
          overflow-y: auto;
          border: 1px solid var(--w-color-grey-150);
          border-right: unset;

          h3 {
            margin: 0.5em 0;
          }

          .listing {
            margin-bottom: 1em;

            li {
              padding: 0.5em 0;
            }
          }
        }
      }
    }

    .CodeMirror {
      height: 280px;
      min-height: 280px;
      width: 100%;
      padding: 1em 20px;
      background-color: var(--w-color-grey-50);
      border: 1px solid var(--w-color-grey-150);
      transition: background-color 0.2s ease;
      overflow: hidden;

      &-focused {
        border-color: var(--w-color-grey-200);
        outline: none;
      }
    }
  }
}
