@import "~codemirror/lib/codemirror.css";

.code .input {
    border-right: 1px solid #e6e6e6;

    .CodeMirror {
        height: auto;
        min-height: 200px;
        padding: 2em 30px;

        * {
            font-size: 0.9rem;
            line-height: 1.4rem;
        }
    }
}

.code .panel {
    border-bottom: 1px solid #e6e6e6;
    padding: 1em 0.5rem;
}
